#wp-admin-bar-wp-logo > .ab-item .ab-icon { background: url("../../d3corp-core/images/admin-bar-sprite.png") no-repeat 0 -247px; }
#wpadminbar.nojs #wp-admin-bar-wp-logo:hover > .ab-item .ab-icon, #wpadminbar #wp-admin-bar-wp-logo.hover > .ab-item .ab-icon { background:url("../../d3corp-core/images/admin-bar-sprite.png") no-repeat 0 -247px !important; }
#contextual-help-link-wrap { display: none !important; }
.login form p input[type="text"] { width: 97%; }
.login form p + p { clear: right; }
.submit input#wp-submit { width: auto!important; }
.forgetmenot input[name="rememberme"] { width: auto!important; }
#wp-admin-bar-wp-logo > .ab-item .ab-icon {
	background: url("../../d3corp-core/images/admin-bar-sprite.png") no-repeat 0 -247px;
}
#wpadminbar.nojs #wp-admin-bar-wp-logo:hover > .ab-item .ab-icon, #wpadminbar #wp-admin-bar-wp-logo.hover > .ab-item .ab-icon {
	background: url("../../d3corp-core/images/admin-bar-sprite.png") no-repeat 0 -247px !important;
}
#contextual-help-link-wrap {
	display: none !important;
}
.login form p input[type="text"] {
	width: 97%;
}
.login form p + p {
	clear: right;
}
.submit input#wp-submit {
	width: auto!important;
}
.forgetmenot input[name="rememberme"] {
	width: auto!important;
}
.login label {
	color: #333 !important;
}
.showorder_handle {
	cursor: move;
}
.wp-list-table .column-showorder {
	width: 38px;
}
#wpwrap {
	background: #fff;
}
#wp-admin-bar-wdcab_root img {
	padding-top: 3px;
}
#wpfooter {
	bottom: -20px !important;
}
#wp-admin-bar-wp-admin-bar-new-brand {
	padding: 3px 5px 0 !important;
}
#wp-admin-bar-wp-admin-bar-new-brand a {
	border-right: none !important;
}
#wpadminbar {
	background: #666 !important;
	border-bottom: 2px solid #2A6891;
	border-top: 1px solid #2A6891;
}
.login h1 a {
	display: block;
	height: 133px;
	margin: auto;
	text-align: center;
	width: 403px;
	background-position: top center;
}
.login #nav a, .login #backtoblog a {
	color: #fff !important;
	border-radius: 0 !important;
	line-height: 2.4em!important;
}
p#nav, p#backtoblog {
	text-align: center;
	padding: 5px 0 !important;
	margin: 0 !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.login form {
	border: none !important;
	margin: 0;
	background: #fff;
	background: rgba(255, 255, 255, .5);
	border-radius: 1px !important;
	text-shadow: 1px 1px 1px rgba(255,255,255, .3);
	padding-bottom: 2.2em!important;
	box-shadow: 0 0 10px rgba(0,0,0,.3)!important;
	border-radius: 5px 5px 0 0!important;
}
.login form p {
	float: left;
	width: 50%;
	clear: left;
}
.forgetmenot {
	float: none!important;
	width: 50%!important;
}
.submit {
	float: right!important;
	clear: right!important;
	margin-top: -2em;
}
#login {
	padding-top: 60px;
}
.login #nav, .login #backtoblog {
	float: left;
	width: 50%;
	padding: 1em 2% !important;
	margin-top: 0;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.3) !important;
	border-radius: 0 0 5px 0 !important;
	border-bottom: 1px solid rgba(255,255,255,0.3) !important;
	line-height: 1.2em !important;
	margin: 0 !important;
}
.login #nav {
	border-radius: 0 0 0 5px!important;
	line-height: 2.4em!important;
}
.login #nav a, .login #backtoblog a {
	color: #fff !important;
	text-shadow: none!important;
}
.login #nav a:hover, .login #backtoblog a:hover {
	color: #fff !important;
	text-shadow: none!important;
}
#special_image {
	display: none;
	max-width: 300px;
	max-height: 300px;
}
#wp-admin-bar-wp-admin-bar-new-brand:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#3A3A3A), color-stop(#222222), 0));
	background: -webkit-linear-gradient(to top, #3A3A3A, #222222) repeat scroll 0 0 #222222;
	background: -moz-linear-gradient(to top, #3A3A3A, #222222) repeat scroll 0 0 #222222;
	background: -o-linear-gradient(to top, #3A3A3A, #222222) repeat scroll 0 0 #222222;
	background: linear-gradient(to top, #3A3A3A, #222222) repeat scroll 0 0 #222222;
}
body.login {
	background-attachment: fixed!important;
}
.attachment-post-thumbnail {
	max-width: 100%!important;
	height: auto!important;
}
#wp-admin-bar-top-secondary {
	position: absolute!important;
	top: 0!important;
	right: 0!important;
}
/* custom */
.login h1 a {
	height: 159px;
	width: 320px;
}
.customF {
	display: none;
}
.section-color {
	float: left;
	width: 30%;
	padding: 0 15px;
}
#optionsframework-submit {
	clear: both;
}